.button{
    -fx-background-color: #792700;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
    -fx-border-width: 4;
}


.button:hover {
    -fx-border-color: #ff0000;
}

/* Style for the x2 Multiplier Effect button */
.multiplier-button {
    -fx-background-color: linear-gradient(to bottom, #ffd700, #ffa500);
    -fx-border-color: #cc8400;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* Style for the Poison Effect button */
.poison-button {
    -fx-background-color: linear-gradient(to bottom, #FFA07A, #FF8C00); /* Darker orange gradient */
    -fx-border-width: 2px;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-min-width: 50px; /* Minimum width for circular shape */
    -fx-min-height: 50px; /* Minimum height for circular shape */
    -fx-max-width: 100px; /* Maximum width for circular shape */
    -fx-max-height: 100px; /* Maximum height for circular shape */
    -fx-alignment: center; /* Center the content */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0.5, 0, 0); /* Shadow effect */
}

.Heal-button {
    -fx-background-color: linear-gradient(to bottom, #90EE90, #32CD32); /* Lighter green to darker green gradient */
    -fx-border-width: 2px;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-min-width: 50px; /* Minimum width for circular shape */
    -fx-min-height: 50px; /* Minimum height for circular shape */
    -fx-max-width: 100px; /* Maximum width for circular shape */
    -fx-max-height: 100px; /* Maximum height for circular shape */
    -fx-alignment: center; /* Center the content */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0.5, 0, 0); /* Shadow effect */
}

.Aim-button {
    -fx-background-color:  #8B4513; /* Light gray to darker gray gradient */
    -fx-border-width: 2px;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-min-width: 50px; /* Minimum width for circular shape */
    -fx-min-height: 50px; /* Minimum height for circular shape */
    -fx-max-width: 100px; /* Maximum width for circular shape */
    -fx-max-height: 100px; /* Maximum height for circular shape */
    -fx-alignment: center; /* Center the content */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0.5, 0, 0); /* Shadow effect */
}



